<div class="wtf col-md-10 col-md-offset-1">
  <% unless @result %>
    <div class="text-center">
      <h1>What The French?</h1>
      <h3>because they don't put the effing grape on the label</h3>
      <form class="form-inline" role="form" action="<%= wtf_path %>" method="get">
        <div class="form-group">
          <input type="text" class="form-control input-large my-input search-query" name="search" placeholder="enter weird name of French wine region">
        </div>
        <div class="form-group">
          <select class= "form-control" name="color">
            <option value="red">Red</option>
            <option value="white">White</option>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-danger" value="What The French?">
        </div>
      </form>
    
  
  <% else %>
    <div class="result text-center">
      <h1><%= @appelation %>!</h1>
      <h4><%= @joke %></h4>
      <h1><%= @result %></h1>
       <a href="<%= wtf_path %>" type="button" class="btn btn-danger">WTF again</a>
       <a href="<%= root_path %>" type="button" class="btn btn-success">Home</a>
    </div>
  <% end %>
</div>