<!DOCTYPE html>
<html>
<head>
  <title>WhatTheFrench</title>
  <link href='http://fonts.googleapis.com/css?family=Mr+De+Haviland|Grand+Hotel|Elsie|Candal|Fondamento|Allan' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Wine-O</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if collector_signed_in? %>
      <ul class="nav navbar-nav">
      <li><%= link_to "Back", :back %></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><%= button_to "Sign Out", destroy_collector_session_path, method: :delete, class: "btn btn-default navbar-btn" %></li>
    </ul>
      <% else %>
      <ul class="nav navbar-nav">
      <li><a href="<%= new_collector_registration_path %>">Sign Up</a></li>
      <li><a href="<%= new_collector_session_path %>">Sign In</a></li>
      </ul>
      <% end %>
  </div>
</nav>

    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </div>

</body>
</html>
